body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

b {
    color: black;
}

main {
    background-color: red;
}

#banner {
    width: 100%;
}
header{
    text-align: center;
    
}
p{
    text-align: center;
}
h2{
    text-align: center;
}